.spinner {
  display: inline-block;
  position: relative;
}

.spinner-bar {
  position: absolute;
  left: -10%;
  top: -3.9%;
  width: 24%;
  height: 8%;
  border-radius: 5px;
  background: currentColor;
  animation: fade-spin 1.2s linear infinite;
}

@keyframes fade-spin {
  0% { opacity: 1; }
  100% { opacity: 0.15; }
}
